<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stored Data</title>
    <link rel="stylesheet" href="/static/dataStyle.css">
</head>
<body>
    <h2>Stored User Data</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">Go Back</a>
</body>
<footer style="text-align: center; padding: 10px">
    <a href="https://github.com/synoraa" target="_blank">
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" 
             alt="GitHub" width="40" height="40">
    </a>
    <p>&copy; 2025 Synora. All rights reserved.</p>
</footer>
</html>
