<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GG</title>
    <link rel="stylesheet" href="/static/indexStyle.css">
</head>
<body>
    <h2>Enter Details</h2>
    <form action="/" method="post">
        <label>Name:</label>
        <input type="text" name="name" required><br><br>

        <label>Email:</label>
        <input type="email" name="email" required><br><br>

        <label>Password:</label>
        <input type="password" name="password" required><br><br>

        <button type="submit">Submit</button>
    </form>

    <br>
    <a href="/data">View Stored Data</a>
</body>
<footer style="text-align: center; padding: 10px">
    <a href="https://github.com/synoraa" target="_blank">
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" 
             alt="GitHub" width="40" height="40">
    </a>
    <p>&copy; 2025 Synora. All rights reserved.</p>
</footer>
</html>
